---
import EditorSkeleton from '@/components/EditorSkeleton.astro'
import { SimpleEditor } from '@/components/tiptap-templates/simple/simple-editor'
---

<div class="h-[70dvh] overflow-hidden rounded-lg">
  <SimpleEditor client:only="react">
    <EditorSkeleton slot="fallback" />
  </SimpleEditor>
</div>
