---
import EditorSkeleton from '@/components/EditorSkeleton.astro'
import NoteViewer from '@/components/NoteViewer.tsx'
import PageHead from '@/components/PageHead.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout class="max-w-5xl">
  <PageHead slot="head" title="note" />

  <NoteViewer client:only="react">
    <div slot="fallback" class="h-[70dvh] overflow-hidden rounded-lg border">
      <EditorSkeleton />
    </div>
  </NoteViewer>
</Layout>
